<!DOCTYPE html>
<html>
<head>
    <title>Rock Paper Scissors</title>
</head>
<body>
    <h1>Rock Paper Scissors</h1>
    
    <form method="POST">
        <input type="radio" id="rock" name="choice" value="rock">
        <label for="rock">Rock</label><br>
        
        <input type="radio" id="paper" name="choice" value="paper">
        <label for="paper">Paper</label><br>
        
        <input type="radio" id="scissors" name="choice" value="scissors">
        <label for="scissors">Scissors</label><br>
        
        <input type="submit" value="Submit">
    </form>
    <div id="result">
        {% if result %}
            <p>あなたの選択: {{ user }}</p>
            <p>コンピュータの選択: {{ computer }}</p>
            <p>結果: {{ result }}</p>
        {% endif %}
    </div>
</body>
</body>
</html>